.venv/
__pycache__/
.env
*.pyc
outputs/
logs/
.DS_Store
.idea/
.vscode/
*.log
coverage
html
report/
.ipynb_checkpoints/
.mypy_cache/
.pytest_cache/
dist/
build/
*.egg-info/
*.sqlite3
*.db
*.bak
.ruff_cache/
pytest_cache/

